body {
    background-color: #F1EFEF;
    font-family: 'Croissant One', serif;
    font-family: 'Roboto', sans-serif;
    /* regla css, feunte externa desde google fonts */
}

nav {
    background-color: #5a5656;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    margin-right: auto;
}

.portada {
    /*CAJA DE PORTADA*/
    background-image: url(../imagenes/portada.jpg);
    /* caja de portada */
    background-size: cover;
    margin-top: 70px;
    height: 400px;
}

h1 {
    color: #F1EFEF;
    /* nombre  del nav */
    font-family: 'Croissant One', serif;
    font-family: 'Roboto', sans-serif;
    /* regla css, feunte externa desde google fonts */

}

h1:hover {
    /* esto es para la transcición de los botones*/
    color: coral;
}



.parrafoPresentacion {
    /* parrafos de la caja de portada*/
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

ul {
    /*BOTONES DE INICIO*/
    display: flex;
    list-style: none;

}

.itemNav {
    /* botones de inicio */
    text-decoration: none;
    margin: 10px;
    display: flex;
}

.linkNav {
    /* botones de inicio */
    color: #F1EFEF;
    text-decoration: none;
}

.linkNav:hover {
    /* botones de inicio */
    color: coral;
}

/*aca comienzan las tarjetas de compras*/
.contenedorPrincipal {
    border: 5px solid black;
    margin: auto;
    background-color: #EBE4D1;
    display: flex;
    flex-wrap: wrap;
    box-shadow: #5a5656;
    transition: 200px;
}
.card {
    width: 200px;
    border: 2px solid orange;
    margin: 20px;
    border-radius: 0px;
    display: flex;
}

.btn {
    background-color: orange;
     margin-left: 55px;
}

.btn:hover {
    background-color: aqua;
    color: #a00a0a;
}

.cajaContenedora {
    width: 100px;
    /* Define el ancho deseado para los contenedores secundarios */
    margin: 20px;
    /* Espacio entre los contenedores secundarios */
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #ccc;
    /* Un borde opcional */
    padding: 20px;
    /* Espacio interno opcional */
    display: inline-block;
    /* Para que los contenedores se muestren en línea */
}

.imagenContenedor {
    width: 150px;
    height: 170px;
    margin: 50px;
    border: 5px solid #191717;
    object-fit: cover;
}

.contenedorTitulo {
    color: black;
}

.button {
    height: 50px;
    width: 100px;
    color: black;
    justify-content: center;
    margin: 5px;
    display: flex;
}

.button:hover {
    color: coral;
    border-radius: 100px;
    transform: scale(2);
}

h3 {
    /* titulo de la colección ARTE VIRTUAL ¿Cúal es tu estilo?*/
    color: black;
    margin-bottom: 20px;
    margin: 20px 0;
}

/*aca comienza la grilla*/
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 15px;
    }
    
    .div1  { grid-area: 1 / 1 / 6 / 3; }
    .div2 { grid-area: 1 / 3 / 4 / 5; }
    .div3 { grid-area: 4 / 3 / 6 / 5; }
    .div4 { grid-area: 1 / 5 / 6 / 6; 
    }
.iconoWp {
    color: rgb(13, 197, 7);
    font-size: 70px;
    position: fixed;z-index:2;
    bottom: 50px;
    right: 50px;
}

.callP {
    color: #F1EFEF;
    font-size: 30px;
    margin: 10px;
    border: none;
}

.callP:hover {
    color: aqua;
}

.iconoTwitter {
    color: #F1EFEF;
    font-size: 30px;
    margin: 10px;
    border: none;
}

.iconoTwitter:hover {
    color: aqua;
}

.iconoFace {
    color: #F1EFEF;
    font-size: 30px;
    margin: 10px;
    border: none;

}

.iconoFace:hover {
    color: aqua;
}

.iconoInst {
    color: #F1EFEF;
    font-size: 30px;
    margin: 10px;
    border: none;
}

.iconoInst:hover {
    color: aqua;
}

.iconoMap {
    color: #F1EFEF;
    font-size: 30px;
    margin: 10px;
    border: none;
}

.iconoMap:hover {
    color: aqua;
}

.iconoMail {
    color: #F1EFEF;
    font-size: 30px;
    margin: 10px;
    border: none;
}

.iconoMail:hover {
    color: aqua;
}

.miBarra {
    color: blue
}

.carousel {
    height: 800px;
}


.section {
    flex-direction: column;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  grid-gap: 20px; /* Espacio entre las dos secciones */
  padding: 20px; /* Añade un relleno alrededor del contenido del footer */
  background-color: black; /* Color de fondo para el footer */
}

.section1 {
  text-align: center; /* Centra el contenido horizontalmente */

}

.section2 {
display: flex;
flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}

.imagenFooter {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen al 100% del contenedor */
}

.contacto {
  color: #333; /* Color del texto */
}

.cajadeContacto {
  margin-top: 10px; /* Margen superior para separar del título 'contactanos' */
}

.creador {
  grid-column: span 2; /* Ocupa ambas columnas */
  text-align: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Margen superior para separar del contenido anterior */
  font-size: 12px; /* Tamaño del texto para el aviso de derechos reservados */
  color: #666; /* Color del texto */
}

h5{
    color: azure;
}
.cajadeContacto{
    background-color: black;
}
.cajadeArtistas{

}
h6{
    color: azure;
}
h7{
    color: azure;
}
h8{
    color: azure;
}
h9{
    color: azure;
}
h10{
    color: azure;
}
.creador{
    background-color: azure;
    padding: 10px;
    max-width: cover;
}

@media (max-widht:800px) {
    footer {
        background-color: #5a5656;
        /* pie de pagina */
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Dos columnas de igual ancho */
        grid-gap: 20px;
        /* Espacio entre las dos secciones */
    }

    .imagenFooter {
        max-width: 100%;
    }


    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 15px;
        }
        
        .div1 { grid-area: 1 / 1 / 6 / 3; }
        .div2 { grid-area: 1 / 3 / 4 / 5; }
        .div3 { grid-area: 4 / 3 / 6 / 5; }
        .div4 { grid-area: 1 / 5 / 6 / 6; }
}